 {
    box-sizing: border-box;
}

header{
    font-size: 15px;
    font-style: bold;
    text-align: center;
}
body {
    color: black;/*#dce3ed;*/
    background-color: white;/*#3e4651;*/
    margin: 0;
}

table input{
    background-color: white;/*#627287;*/
}
table td button{
    background-color: #627287;
}

.navbar {
    font-size: 20px;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white; #dce3ed;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    flex: 30%;
    background-color: white; /*#3e4651;*/
    padding: 50px;
}
select{

    font-size: 15px;
}
option{
    font-size: 15px;
}
a:hover{
    color: blue;
}

img{

    height: 200px;
    width: 300px;
}

.view-stu{
    margin-top: 50px;
    font-size: 22px;
    font-weight: 600;
}
.dept-form{
    max-width: 260px;
}

.dept-form > select{
    margin-top: 15px;
}

.dept-form > .form-group{
    margin-top: 10px;
}

.stu-table{
    margin-top: 50px;
    margin-bottom: 60px;
}

